nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(97, 4, 185);
}

.nav-list {
    display: flex;
    gap: 5rem;
    justify-content: right;
    list-style: none;
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: lightblue;
}