body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* color: var(--bg-color); */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

section {
    height: 100vh;
}

:root {
    --bg-color: #2c3531;
    --text-color: #ffcb9a;
    --main-color: #116466ff;
    --white-color: #d1e8e2;
    --shodow-color: #d9b0bc;
}

.btn {
    font-size: x-large;
    background-color: var(--bg-color);
    border: none;
    padding: .3rem 1rem;
    border-radius: .3rem;
    color: var(--white-color);
    box-shadow: 0 .2rem .9rem var(--main-color);
}

.btn:hover {
    background-color: var(--white-color);
    color: var(--bg-color);
    outline: 1px solid var(--bg-color);
}